/* Utilities */

img{
    max-width: 50px;
    border-radius: 50%;
}

input {
    border: 0;
}

.active{
    background-color: rgb(221, 221, 221);
}


/* Backgrounds */

#background{
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
    );
}

.bg-lightgray{
    background-color: #EAEAEA;
}
.bg-lightblue{
    background-color: #8EDAFC;
}

/* colors */

.color-gray{
    color: #B1B1B1;
}
.color-lightgray{
    color: #cacaca;
}
.color-darkgray{
    color: #757575;
}
.color-lightblue{
    color: #8EDAFC;
}

/* text */

.size-medium{
    font-size: 12px;
}
.size-big{
    font-size: 16px;
}
.size-bigger{
    font-size: 20px;
}

/* --- Sections --- */

/* Notification Section */

#notification-box{
    width: 50px;
    height: 50px;
    margin-right: 2px;
}

/* Contacts Section */

#contacts-section{
    max-height: 400px;
    overflow-y: scroll;
}

#chat-bg{
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    display: flex;
    height: 450px;
    flex-grow: 1;
}

/* Chat section */

.message-container{
    display: flex;
}
.message-container.sent{
    justify-content: flex-end;
}
.message-container.received{
    justify-content: flex-start;
}
.message-container.sent .message{
    background-color: #d5f9ba;
}
.message-container.received .message{
    background-color: #FFF;
}