/* Utilities */

img{
    max-width: 50px;
    border-radius: 50%;
}

.color-gray{
    color: #B1B1B1;
}


/* Backgrounds */

#background{
    width: auto;
    height: 100vh;
    background-color: #009688;
    background-image:
      linear-gradient(
        to bottom, 
        #009688,
        #009688 15%,
        #DCDBD2 15%,
        #DCDBD2 85%,
        #DCDBD2 85%
      );
}

.bg-lightgray{
    background-color: #EAEAEA;
}
.bg-lightblue{
    background-color: #8EDAFC;
}

/* colors */

.color-gray{
    color: #B1B1B1;
}
.color-lightblue{
    color: #8EDAFC;
}